.cell {
    line-height: 50px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #fff;
    /* Default background color */

    transition: transform 0.2s ease, background-color 0.3s ease;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    scale: 2.0;
}

.filled span {
    scale: 1.0;
    transition: scale 0.5s ease;
}

.winning-cell {
    background-color: #90ee90;
    /* Light green for winning cells */
    font-weight: bold;
    color: #000;

    animation: highlight 1s infinite alternate;
}

.cell:hover {
    transform: scale(1.1);
    /* Slight zoom effect on hover */
}

@keyframes highlight {
    from {
        background-color: #90ee90;
        /* Light green */
    }

    to {
        background-color: #76c776;
        /* Slightly darker green */
    }
}

.game {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.restart-game-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}